@font-face {
    font-family: "NHaasGroteskDSPro-75Bd";
    /* raises *CSS3111* error in IE */

    // src: url("../fonts/nhaasgroteskdspro-75bd/0209bfe594ed24b75ee2aac06529e4f9.eot");
    // src: url("../fonts/nhaasgroteskdspro-75bd/0209bfe594ed24b75ee2aac06529e4f9.eot?#iefix") format("embedded-opentype"),
    src:
        url("../fonts/nhaasgroteskdspro-75bd/0209bfe594ed24b75ee2aac06529e4f9.woff2") format("woff2"),
        url("../fonts/nhaasgroteskdspro-75bd/0209bfe594ed24b75ee2aac06529e4f9.woff") format("woff"),
        url("../fonts/nhaasgroteskdspro-75bd/0209bfe594ed24b75ee2aac06529e4f9.ttf") format("truetype"),
        url("../fonts/nhaasgroteskdspro-75bd/0209bfe594ed24b75ee2aac06529e4f9.svg#NHaasGroteskDSPro-75Bd") format("svg");
}

@font-face {
    font-family: "NeueHaasGrotesk-Light";
    /* raises *CSS3111* error in IE */

    // src: url("../fonts/NeueHaasGrotesk-Light/NeueHaasGrotesk-Light.eot");
    src: url("../fonts/NeueHaasGrotesk-Light/NeueHaasGrotesk-Light.woff2") format("woff2"),
        url("../fonts/NeueHaasGrotesk-Light/NeueHaasGrotesk-Light.woff") format("woff"),
        url("../fonts/NeueHaasGrotesk-Light/NeueHaasGrotesk-Light.ttf") format("truetype");
}

/* colors */
$color-white: #fff;
$color-blue-tint: #4599B3;
$color-white-faded: rgba(255, 255, 255, 0.5);
$color-blue-tint-faded: rgba(69, 153, 179, 0.8);
$color-orange: #EE7900;
$color-gray-faded: #EAEAEA;

$color-gray-button: #D0D0D0;
$color-footer-black: #000;

$color-text-valid: #414141;
$color-invalid: #FB3449;

$color-border-faded-gray: rgba(95, 95, 95, 0.3);

/* fonts */
$font-light: "NeueHaasGrotesk-Light";
$font-bold: "NHaasGroteskDSPro-75Bd";

/* size */
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 19px;
$font-size-xlarge: 31px;

$font-size-btn: 20px;

$letter-spacing-default: 0.5px;
$letter-spacing-secondary: 0.3px;

$line-height-default: 24px;
$line-height-small: 16px;
$line-height-large: 26px;

//default for most of the page - top/bottom
$default-margin: 44px;

$header-height: 134px;
// $header-height-mobile: 66px;
$header-width: 1440px;

$left-side-header-width: 15%;

$left-side-header-min-width: 190px;

$right-side-width: 80%;
$right-side-height: $header-height;

$right-side-min-width: 700px;

//main-container
//nav-links
$nav-links-width: 736px;
$nav-links-min-width: 600px;
$nav-links-height: 100%;

$upper-links-width: $nav-links-width - 124px;
$upper-links-min-width: 540px;
$upper-links-height: 29px;

// $lower-links-width: 100%;
$lower-links-height: 24px;

//user-panel
$user-panel-width: 135px;
$user-panel-height: 93px;

//user-panel -> auth
$auth-width: 100%;
$auth-height: 24px;

//selects
$select-x-2-height: 180px;
$padding-left-select: 1.3rem;

/* box-shadow */
$box-shadow: 0px 5px 8px 0px #E2E2E2;

$main-container-padding: 204px 5% 0 5%;

/* form */
$select-margin: 27.4px;
$padding-left: 34px;

$button-top: 87px;

  //select2:
$select2-margin-right: 1.5rem;

/* footer */
$footer-flex-basis: 84px;

/* mobile */
$mobile-header-height:66px;
$mobile-header-width: 100%;

$mobile-header-padding: 41px;

$main-mobile-menu-height: 71px;

$auth-padding-mobile-horizontal: 34px;
$auth-padding-mobile-vertical: 8px;

$mobile-space-from-top: 1.2rem;

$mobile-hamburger-padding-left: 30px;

$main-container-mobile-margin: 102px 5% 0 5%;
/* mobile */