@import "_variables.scss";

/* mixins */
@mixin clean-list {
    list-style-type: none;
}

@mixin default-font {
    font-family: $font-light;
    letter-spacing: $letter-spacing-default;
    font-size: $font-size-medium;
    line-height: $line-height-default;
}

@mixin bold-font {
    font-family: $font-bold;
    letter-spacing: $letter-spacing-secondary;
    font-size: $font-size-small;
    line-height: $line-height-small;
}

@mixin legend-font {
    font-family: $font-light;
    letter-spacing: $letter-spacing-default;
    font-size: $font-size-large;
    line-height: $line-height-large;
    color: $color-blue-tint-faded;
}

@mixin undecorated-link {
    text-decoration: none;
}

@mixin white-hover {
    cursor: pointer;
    font-weight: 400;
    color: $color-white;
}

@mixin user-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-btn;
    margin-top: 15px;
    min-width: 44px;
    height: 44px;
    border: 1px solid #fff;
    border-radius: 50%;
}

@mixin border-active {
    border-bottom: 2px solid $color-blue-tint;
}

@mixin label-active {
    top: 0px;
    font-size: $font-size-small;
}

@mixin label-invalid {
    color: $color-invalid;
}

@mixin input-active {
    color: $color-text-valid;
    border-bottom: 2px solid $color-blue-tint;
}

@mixin input-invalid {
    color: $color-invalid;
    border-bottom: 2px solid $color-invalid;
}

@mixin centered-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin left-aligned-select {
    display: flex;
    justify-content: left;
    align-items: center;
}

@mixin full-sized-select {
    width: 100%;
    height: 100%;
}


@mixin squared-select {
    height: 60px;
    border: none;
    @include centered-select;
}

@mixin outline-less {
    border: none;
    outline: none;
}

@mixin auth {
    .auth {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-basis: 25%;
        width: $auth-width;
        height: $auth-height;
        text-transform: uppercase;

        a {
            @include undecorated-link;

            flex-basis: 20%;
            font-weight: 100;
            color: rgba(255, 255, 255, 0.6);
        }

        a:hover {
            @include white-hover;

        }

        .nav-button {
            @include user-button;

            >i {
                font-weight: 100;
                // padding: 13px;
            }
        }

        .nav-button:hover {
            @include user-button;

            background-color: $color-white;
            color: $color-blue-tint;
            border-radius: 50%;

            >i {
                background-color: $color-white;
                color: $color-blue-tint;
                border-radius: 50%;
            }
        }

    }
}

body {
    width: 100%;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-input {
    @include default-font;
    resize: none;
    width: 100%;
    padding: 2.1%;
    text-align: left;
    border: none;
    outline: none;
    background-color: $color-gray-faded;
}

.hidden {
    display: none;

    li {
        display: none;
    }
}

.invalid {
    color: $color-invalid;
}

h1 {
    padding: 2px;
    margin-bottom: 25px;
    font-family: $font-light;
    font-size: $font-size-xlarge;
    font-weight: 100;
    text-align: left;
}

ul {
    @include clean-list;
}

body {
    @include default-font;

    margin: 0 auto;
}

header {
    display: flex;
    z-index: 9;
    height: $header-height;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 250ms top;
    background-color: $color-white;

    box-shadow: 0px 5px 8px 0px #E2E2E2;


    .left-side-header {
        display: flex;
        justify-content: space-between;
        margin: 44px 3%;
        width: $left-side-header-width;
        min-width: $left-side-header-min-width;
        transition: 250ms margin;
    }

    .left-side-header-sticky {
        margin-top: 55px;
    }

    .right-side-header {
        width: $right-side-width;
        min-width: $right-side-min-width;
        background-color: $color-blue-tint;
        transition: width 200ms ease-in-out;

        //not working
        // position: sticky;
        // top: 10px;

        .main-header-container {
            position: relative;
            display: flex;
            justify-content: space-between;
            height: $right-side-height - 41px;
            margin: 16px 22px 36px 44px;

            .nav-links {
                min-width: $nav-links-min-width;
                height: $nav-links-height;
                position: relative;
            }

            .link-section-container {
                @include bold-font;

                display: flex;
                min-width: $upper-links-min-width;
                width: $upper-links-width;
                height: $upper-links-height;
                justify-content: left;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                color: $color-white-faded;

                >li {
                    margin-right: 42px;

                    >i {
                        font-weight: 200;
                        width: 6.67px;
                        height: 10px;
                        margin-right: 2px;
                        margin-bottom: 2px;
                        font-size: 8px;
                    }
                }

                >li:hover {
                    border-bottom: 2px solid $color-white;
                    color: $color-white;
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    padding: 1px;
                    font-weight: 100;
                    color: $color-white-faded;
                }

                a:hover {
                    @include white-hover;
                }

                .sub-nav-links {
                    @include default-font;

                    display: flex;
                    position: absolute;
                    left: 0;
                    bottom: 10px;
                    justify-content: left;
                    height: $lower-links-height;

                    >li {
                        color: rgba(255, 255, 255, 0.1);
                        margin-right: 25px;
                        font-size: 14px;
                    }

                    >li:hover {
                        border-bottom: none;
                        text-decoration: none;
                        font-weight: 400;
                        color: $color-white;
                        cursor: pointer;
                    }
                }
            }

            .user-panel {
                @include bold-font;

                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                width: $user-panel-width;
                height: $user-panel-height;

                @include auth;
            }
        }
    }

    .right-side-header-maximize {
        width: 100%;
    }
}

.header-sticky {
    top: -45px;
}

.header-hidden {
    top: -137px;
}

.logo {
    width: 166px;
    height: 45px;
    border: none;
}

.language-placeholder {
    @include bold-font;

    width: 41px;
    height: 24px;
    margin-top: 11px;
    border: none;
}

.main-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: $main-container-padding;
    // margin: 204px 2% 0 2%;
    // margin-top: 70px;
    // transition: margin-top 0.3s ease-out;
}

.main-container-scrolled {
    margin-top: 100px;
}

.dashed-list {
    margin-left: 49px;

    >li {
        display: block;
    }

    >li::before {
        content: "";
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 15px;
        width: 17px;
        height: 0.1px;
        background-color: $color-orange;
    }
}

/* select2 */
@mixin select-slick {
    @include squared-select;
    box-shadow: $box-shadow;

    .selection {
        @include full-sized-select;

        .select2-selection {
            @include left-aligned-select;
            padding-left: $padding-left-select;
            @include full-sized-select;
            @include outline-less;

            .select2-selection__rendered {
                padding-left: 0;
            }
        }
    }

    .select2-dropdown {
        // margin: 2.05rem auto;
        @include outline-less;

        .select2-search {
            display: none;
        }

        .select2-results {
            // box-shadow: 0px 0px 1px 1px $color-border-faded-gray;

            .select2-results__options {
                position: absolute;
                width: 100%;
                background-color: $color-white;
                top: -2rem;
                box-shadow: $box-shadow;

                // margin: -2rem auto;
                .select2-results__option {
                    @include left-aligned-select;
                    // border-bottom: 0.5px solid rgba(95, 95, 95, 0.1);
                    padding-left: 1.3rem;
                    height: 60px;
                }


                .select2-results__option:hover {
                    background-color: $color-border-faded-gray;
                }
            }


        }
    }
}

.select2-container--select-slick-required {
    @include select-slick;
    margin-right: $select2-margin-right;

    .select2-selection__placeholder {
        color: $color-invalid;
    }
}

.select2-container--select-slick {
    @include select-slick;
}

.select2-selection {
    width: 100%;
    height: 100%;
}

.select2-container--focus {
    @include outline-less;
}

.select2-container--select-mobile {
    width: 50px;
    height: 24px;
    position:fixed;
    right:1rem;
    top:1rem;
    @include outline-less;
    color: $color-white;

    .select2-selection {
        // @include left-aligned-select;
        // padding-left: $padding-left-select;
        // @include full-sized-select;
        @include outline-less;
        background-color:$color-blue-tint transparent;

        .select2-selection__arrow {
            height: 26px;
            position: absolute;
            top: 1px;
            right: 1px;
            width: 20px;

            b {
                border-color: $color-white transparent transparent transparent;
                border-style: solid;
                border-width: 5px 4px 0 4px;
                height: 0;
                left: 50%;
                margin-left: -4px;
                margin-top: -2px;
                position: absolute;
                top: 40%;
                width: 0;
            }
        }

        .select2-selection__rendered {
            padding-left: 0;
        }
    }

    .select2-results {
        position:relative;
        right:0.38rem;

        .select2-results__options {
            background-color: $color-blue-tint;

            .select2-results__option {

            }

            .select2-results__option:hover {
                background-color: $color-border-faded-gray;
            }
        }


    }

    .select2-dropdown {
        @include outline-less;
        background-color:$color-blue-tint;
        .select2-search {
            display: none;
        }
    }
}

main {
    @include default-font;

    display: inline-block;
    flex-basis: 50%;
    // min-width: 528px;
    text-align: center;
    vertical-align: top;
    // padding-left: $padding-left;


    >form {
        position: relative;
        border-left: 2px solid rgba(95, 95, 95, 0.1);
        padding-left: $padding-left;
        width: 100%;

        select:active,
        select:focus {
            outline: none;
            border: none;
        }

        >fieldset {
            border: none;
            width: 100%;
            margin: 30px auto;

            >h1 {

                >i {
                    color: $color-blue-tint;
                    width: 44px;
                    padding: 2px;
                }
            }

            >p {
                margin: 22px 0 44px 0px;
                width: 95%;
                text-align: left;
            }

            >legend {
                @include legend-font;
                text-align: left;
            }

            >.select-x-2 {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;

                >.select2-container {
                    width: 46%;
                }
            }
        }


        /*
        .select-slick {
            width: 219px;
            height: 60px;
            border: none;
            box-shadow: 0px 5px 8px 0px #E2E2E2;
        }
        */

        .label-pair {
            width: 100%;
            height: 51px;
            margin: 9% 0;

            label {
                float: left;
                @include legend-font;
                color: #414141;
                position: relative;
                bottom: 0;
                top: 20px;
                transition: top 0.5s, font-size 0.5s;
            }

            label:focus {
                bottom: 12px;
                font-size: 12px;
            }

            input {
                width: 100%;
                height: 53%;
                border: none;
                border-bottom: 1px solid $color-border-faded-gray;
            }


            input:focus {
                outline: none;
                // border-bottom: 2px solid $color-blue-tint;
            }


            .label-active {
                @include label-active;
            }

            .label-invalid {
                @include label-invalid;
            }

            .input-active {
                @include input-active;
            }

            .input-invalid {
                @include input-invalid;
            }
        }

        .label-pair:focus-within {
            label {
                top: 0;
                font-size: 12px;
            }
        }

        .big-clause {
            background-color: #EAEAEA;
            color: #000;
            padding: 27px 31px 33px 26px;
            text-align: left;
            margin: 5% 0;
            width: 100%;
        }

        .small-clause {
            font-size: 12px;
            line-height: 16px;
            text-align: left;


        }

        .checkbox-section {
            position: relative;
            text-align: left;

            margin-top: 15px;


            .cb-label {
                position: relative;
                user-select: none;
                min-width: 50px;
                min-height: 50px;
                cursor: pointer;

                >p {
                    margin-left: 58px;
                }

                >input[type="checkbox"] {
                    display: inline-block;
                    position: absolute;
                    width: 44px;
                    height: 44px;
                    cursor: pointer;
                    color: #fff;
                    border: 2px solid $color-blue-tint;
                    background-color: #fff;
                }

                >input[type="checkbox"]::-ms-check {
                    border: 2px solid $color-blue-tint;
                }


                >input[type="checkbox"]:checked::-ms-check {
                    display: inline-block;
                    position: absolute;
                    width: 44px;
                    height: 44px;
                    cursor: pointer;
                    color: $color-white;
                    background-color: $color-blue-tint;
                }

                >input[type="checkbox"]::-ms-check:hover {
                    background-color: $color-blue-tint;
                }


                >input[type="checkbox"]:focus {
                    outline-color: #000;
                }

                >input[type="checkbox"]::before {
                    content: "";
                    display: inline-block;
                    width: 44px;
                    height: 44px;
                    border: 2px solid $color-blue-tint;
                    background-color: #fff;
                }

                >input[type="checkbox"]:checked::before,
                >input[type="checkbox"]:hover:before {
                    background-color: $color-blue-tint;
                }

                >input[type="checkbox"]:checked::after {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    display: inline-block;
                    content: "";
                    width: 18px;
                    height: 11px;
                    border-bottom: 2px solid #fff;
                    border-left: 2px solid #fff;
                    transform: rotate(-45deg);
                }
            }


            >p {
                display: inline-block;
                margin-left: 55px;
            }

            >.dashed-list {
                width: 45%;
                margin-left: 55px;
            }
        }


        .button {
            width: 194px;
            height: 60px;
            text-align: center;
            background-color: $color-gray-button;
            border: none;
            color: #fff;
            position: relative;
            top: $button-top;
            left: 150px;
            margin-top: 50px;
        }

        .button-active {
            background-color: $color-blue-tint;
        }

        .button-active:hover {
            cursor: pointer;
        }
    }

    footer {
        margin-top: $button-top;
        text-align: left;
    }
}

aside {
    display: inline-block;
    vertical-align: top;
    flex-basis: 40%;
    padding-left: $padding-left;

    h1,
    h2 {
        color: $color-blue-tint;
    }

    h2 {
        height: 13px;

        >i {
            width: 24px;
            font-size: 24px;
        }
    }

    .feature {
        float: left;
        padding: 0 100px 44px 0;

        >h2 {
            @include bold-font;

            color: rgba(69, 153, 179, 0.6);
            display: flex;
            font-size: 12px;
            line-height: normal;
            text-transform: uppercase;
        }

        i {
            color: #4599B3;
            width: 50px;
        }

        img {
            width: 24px;
            height: 134px;
            float: left;
        }

        >p {
            @include default-font;

            display: inline-block;
            text-align: left;
            padding: 5px 10px 0 49px;
        }


        .dashed-info {
            display: block;
        }

        .dash {
            display: inline-block;
            margin-bottom: 2%;
            margin-right: 6%;
            width: 17px;
            height: 0.1px;
            background-color: #EE7900;
        }
    }
}

footer {
    text-align: center;
    width: 100%;
}

.body-footer {
    // height: 365px;
    // min-height: 200px;
    // margin-top: 50px;
    // margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap:wrap;
    color: $color-footer-black;
    position: relative;

    a {
        // margin-right: 20px;
        // max-width: 30%;
        width: 44px;
        // width: 22px;
        // max-height: 24px;
        text-align: left;
        color: $color-footer-black;
        border-color: $color-footer-black;
    }

    .upper-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 148px;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        background-color: #E5F1F7;

        .login-footer {
            display: flex;
            justify-content: flex-start;
            text-align: left;
            padding-right:20px;

            // h3 {
            //     @include legend-font;
            //     color: #414141;
            //     display: inline-block;
            // }

            p {
                display: flex;
                flex-direction: column;

                .login-link {
                    border-bottom: 2px solid #000;
                }
            }

            .icon, .icon:visited {
                width:25px;
                height:20px;
                margin-right: 5px;
                border: none;
                color: $color-blue-tint;
            }

            .icon:hover {
                cursor:pointer;
            }

            .title-link {
                font-size: 19px;
                width:100%;
                border: none;
            }
        }

        .right-footer {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            width: 25%;
            // min-width: 120px;
            height: 24px;

            .link-bold-bottom {
                @include bold-font;
                min-width: $footer-flex-basis;
                flex-shrink: 2;
                height:100%;
                border: none;
                display: flex;
                align-items: center;
                justify-content:space-around;
                color: #000;

                cursor: pointer;
            }
        }
    }

    .lower-footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        position: relative;

        padding: $default-margin 10%;

        // padding-left: 10%;
        // padding-right: 10%;
        // width: 400px;
        width: 100%;
        // min-height: 150px;/
        // height: 252px;

        text-align: left;

        .left-footer {
            // width: 300px;
            // height: 50px;
            // min-width: 100px;

            a {
                @include bold-font;
                font-size: 16px;
            }
        }

        .contact-footer {
            display: flex;
            width: 50%;
            // max-height:100%;
            // max-height: 234px;
            height: 100%;
            justify-content: flex-end;
            flex-wrap: wrap;
            // grid-template-columns: 1fr 2fr;
            // column-gap: 112px;

            .contact-methods {
                height:100%;
                width:40%;
            }

            .contact-address {
                height:100%;
                // width:40%;
            }

            .contact {
                margin-bottom: 16px;

                h3 {
                    margin-bottom: 5px;
                }
            }


            p {
                max-width: 150px;
            }
        }

        .big-title {
            @include bold-font;
            text-transform: uppercase;
        }
    }
}

.logos {
    position: absolute;
    bottom: 0;
    right: 25px;

    width: 206px;
    height: 44px;

    user-select: none;
}

@media only screen and (max-width:550px) {
    .sub-nav-links {
        >li {
            font-size: $font-size-xlarge;
        }
    }

    aside {
        padding:0;
        padding-left:0;
    }

    .body-footer {
        .lower-footer {
            .contact-footer {
                justify-content:flex-start;
            }
        }
    }
}



@media only screen and (max-width:1024px) {
    .hamburger-menu {
        position: fixed;
        z-index: 11;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        width: 24px;
        height: 24px;

        top: $mobile-space-from-top;
        left: $mobile-hamburger-padding-left;

        .hamburger-line {
            position: relative;
            width: 100%;
            height: 2px;
            background-color: $color-blue-tint;
            transition: transform 300ms, background-color 300ms;
        }

        .middle-line {
            position: relative;
            opacity: 1;
            left: 0;
            right: 0;
            transition: opacity 100ms, left 100ms, right 100ms;
        }

        .fading {
            opacity: 0;
            left: -24px;
        }

        .rotate-this-way {
            top: 8px;
            transform: rotate(135deg);
            background-color: $color-white;
        }

        .rotate-that-way {
            bottom: 8px;
            transform: rotate(45deg);
            background-color: $color-white;
        }
    }

    .hamburger-menu:hover {
        cursor: pointer;
    }

    .mobile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        height: $mobile-header-height;
        width: $mobile-header-width;
        padding-left: $mobile-header-padding;
        padding-right: $mobile-header-padding;

        background-color: $color-white;

        img {
            position: relative;
            left: 20px;
            height: 50%;
        }
    }

    .mobile-menu {
        position: absolute;
        z-index: 10;
        left: -100%;
        width: 100%;
        height: 100%;

        min-width: 0;

        background-color: $color-blue-tint;

        transition: left 250ms ease-in-out;

        .mobile-menu-container {
            position: relative;
            overflow: auto;

            height: 90%;

            // padding: 1.25rem 2.5625rem 2.75rem 2.5625rem;
            padding: 2% 0;
        }

        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
            background: transparent;
        }

        .mobile-language-placeholder {
            position: absolute;
            top: $mobile-space-from-top;
            right: 5%;
            width: 50px;
            height: 24px;

            outline: none;
            // border: 2px solid $color-white;

            >option:active {
                outline: none;
            }
        }

        nav {
            // width: 120%;
            display: flex;
            height: 9.6875rem;
            border-bottom: 1px solid $color-white-faded;

            >.ul-parent {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                width: 100%;
                // flex-wrap: wrap;
                overflow: auto;

                min-height: $main-mobile-menu-height;
                color: $color-white-faded;

                >li {
                    margin-right: $default-margin;
                    // border-bottom: 1px solid $color-white-faded;
                    padding-bottom: 0.8rem;
                    // padding-top: 0.8rem;
                    border-bottom: 2px solid $color-blue-tint;
                }

                >li:hover {
                    cursor: pointer;
                    color: $color-white;
                    border-bottom: 2px solid $color-white;
                }
            }

            .sub-nav-links {
                position: absolute;
                top: 14rem;
                left: 0;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                font-size: 42px;
                line-height: 55px;

                >li>a {
                    color: $color-white;
                    text-decoration: none;
                    transition: font-size 400ms;
                }

                a:hover {
                    color: $color-white-faded;
                }
            }
        }

        .auth {
            height: 51px;
            width: 100%;
            min-width: 218px;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            z-index: 1;

            margin-bottom: 4%;

            background-color: $color-blue-tint;

            padding: $auth-padding-mobile-vertical $auth-padding-mobile-horizontal;

            border: none;


            // background-color: #000;

            .actions {
                position: relative;
                width: 113px;
                height: 50%;
            }

            .user-info {
                margin-left: 3%;

                font-size: $font-size-small;
                font-weight: bold;
                line-height: $line-height-small;
                text-transform: uppercase;

                color: $color-white;
            }

            .user-info:hover {
                cursor: pointer;
            }

            a {
                @include undecorated-link;

                flex-basis: 20%;
                font-weight: 100;
                color: rgba(255, 255, 255, 0.6);
            }

            a:hover {
                @include white-hover;

            }

            .nav-button {
                @include user-button;

                margin: 0;
                position: absolute;
                bottom: 0;

                >i {
                    font-weight: 100;
                    // padding: 13px;
                }
            }

            .nav-button:hover {
                @include user-button;

                margin: 0;
                position: absolute;
                bottom: 0;

                background-color: $color-white;
                color: $color-blue-tint;
                border-radius: 50%;

                >i {
                    background-color: $color-white;
                    color: $color-blue-tint;
                    border-radius: 50%;
                }
            }

            .icon-search {
                left: 0;
            }

            .icon-shopping-cart {
                right: 0;
            }
        }
    }

    .menu-show {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .main-container {
        padding: $main-container-mobile-margin;
        flex-direction: column-reverse;
    }

    main {
        width: 100%;
        min-width: 0;
        padding: 0 10px;

        >form .button {
            left: 0;
            top: 60px;
            margin-top: 0;
            width: 100%;
        }

        >form {
            .label-pair {
                margin: 5% auto;
            }

            >fieldset {
                p {
                    margin: 22px auto;
                }

                >.select-x-2 {
                    height: $select-x-2-height;

                    >.select2-container {
                        width: 100%;
                        // margin-right: $select2-margin-right;
                        display: flex;
                        align-items: center;
                    }

                    >.select2-container--select-slick-required {
                        margin-right: 0;
                    }
                }

                >.select-x-2+p {
                    margin-top:0;
                }
            }
        }
    }

    #register-form {
        border-left: none;
        padding-left: 0;
        width: 100%;
    }

    aside {
        padding: 0 34px;
    }

    .aside-main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 5%;
        // padding-left: 0;

        >h1 {
            padding-right: 2rem;
        }

        >.feature {
            padding-right: 0;
        }
    }

    .body-footer .upper-footer .right-footer {
        width:30%;

    }

}




/* not used atm
.select2-active {
    box-shadow: none;
}
*/

/*

a {
    color: $color-blue-tint;
    text-decoration: none;
    border-bottom: 2px solid $color-blue-tint;
}

*//* not used atm
.select2-active {
    box-shadow: none;
}
*/



a {
    color: $color-blue-tint;
    text-decoration: none;
    border-bottom: 2px solid $color-blue-tint;
}

