@font-face {
  font-family: "NHaasGroteskDSPro-75Bd";
  /* raises *CSS3111* error in IE */
  src: url("../fonts/nhaasgroteskdspro-75bd/0209bfe594ed24b75ee2aac06529e4f9.woff2") format("woff2"), url("../fonts/nhaasgroteskdspro-75bd/0209bfe594ed24b75ee2aac06529e4f9.woff") format("woff"), url("../fonts/nhaasgroteskdspro-75bd/0209bfe594ed24b75ee2aac06529e4f9.ttf") format("truetype"), url("../fonts/nhaasgroteskdspro-75bd/0209bfe594ed24b75ee2aac06529e4f9.svg#NHaasGroteskDSPro-75Bd") format("svg");
}

@font-face {
  font-family: "NeueHaasGrotesk-Light";
  /* raises *CSS3111* error in IE */
  src: url("../fonts/NeueHaasGrotesk-Light/NeueHaasGrotesk-Light.woff2") format("woff2"), url("../fonts/NeueHaasGrotesk-Light/NeueHaasGrotesk-Light.woff") format("woff"), url("../fonts/NeueHaasGrotesk-Light/NeueHaasGrotesk-Light.ttf") format("truetype");
}

/* colors */
/* fonts */
/* size */
/* box-shadow */
/* form */
/* footer */
/* mobile */
/* mobile */
/* mixins */
body {
  width: 100%;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.user-input {
  font-family: "NeueHaasGrotesk-Light";
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 24px;
  resize: none;
  width: 100%;
  padding: 2.1%;
  text-align: left;
  border: none;
  outline: none;
  background-color: #EAEAEA;
}

.hidden {
  display: none;
}

.hidden li {
  display: none;
}

.invalid {
  color: #FB3449;
}

h1 {
  padding: 2px;
  margin-bottom: 25px;
  font-family: "NeueHaasGrotesk-Light";
  font-size: 31px;
  font-weight: 100;
  text-align: left;
}

ul {
  list-style-type: none;
}

body {
  font-family: "NeueHaasGrotesk-Light";
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9;
  height: 134px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  -webkit-transition: 250ms top;
  transition: 250ms top;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 8px 0px #E2E2E2;
          box-shadow: 0px 5px 8px 0px #E2E2E2;
}

header .left-side-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 44px 3%;
  width: 15%;
  min-width: 190px;
  -webkit-transition: 250ms margin;
  transition: 250ms margin;
}

header .left-side-header-sticky {
  margin-top: 55px;
}

header .right-side-header {
  width: 80%;
  min-width: 700px;
  background-color: #4599B3;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
}

header .right-side-header .main-header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 93px;
  margin: 16px 22px 36px 44px;
}

header .right-side-header .main-header-container .nav-links {
  min-width: 600px;
  height: 100%;
  position: relative;
}

header .right-side-header .main-header-container .link-section-container {
  font-family: "NHaasGroteskDSPro-75Bd";
  letter-spacing: 0.3px;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 540px;
  width: 612px;
  height: 29px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.5);
}

header .right-side-header .main-header-container .link-section-container > li {
  margin-right: 42px;
}

header .right-side-header .main-header-container .link-section-container > li > i {
  font-weight: 200;
  width: 6.67px;
  height: 10px;
  margin-right: 2px;
  margin-bottom: 2px;
  font-size: 8px;
}

header .right-side-header .main-header-container .link-section-container > li:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}

header .right-side-header .main-header-container .link-section-container a {
  text-decoration: none;
  padding: 1px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
}

header .right-side-header .main-header-container .link-section-container a:hover {
  cursor: pointer;
  font-weight: 400;
  color: #fff;
}

header .right-side-header .main-header-container .link-section-container .sub-nav-links {
  font-family: "NeueHaasGrotesk-Light";
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 10px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 24px;
}

header .right-side-header .main-header-container .link-section-container .sub-nav-links > li {
  color: rgba(255, 255, 255, 0.1);
  margin-right: 25px;
  font-size: 14px;
}

header .right-side-header .main-header-container .link-section-container .sub-nav-links > li:hover {
  border-bottom: none;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

header .right-side-header .main-header-container .user-panel {
  font-family: "NHaasGroteskDSPro-75Bd";
  letter-spacing: 0.3px;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 135px;
  height: 93px;
}

header .right-side-header .main-header-container .user-panel .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  width: 100%;
  height: 24px;
  text-transform: uppercase;
}

header .right-side-header .main-header-container .user-panel .auth a {
  text-decoration: none;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
}

header .right-side-header .main-header-container .user-panel .auth a:hover {
  cursor: pointer;
  font-weight: 400;
  color: #fff;
}

header .right-side-header .main-header-container .user-panel .auth .nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  margin-top: 15px;
  min-width: 44px;
  height: 44px;
  border: 1px solid #fff;
  border-radius: 50%;
}

header .right-side-header .main-header-container .user-panel .auth .nav-button > i {
  font-weight: 100;
}

header .right-side-header .main-header-container .user-panel .auth .nav-button:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  margin-top: 15px;
  min-width: 44px;
  height: 44px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  color: #4599B3;
  border-radius: 50%;
}

header .right-side-header .main-header-container .user-panel .auth .nav-button:hover > i {
  background-color: #fff;
  color: #4599B3;
  border-radius: 50%;
}

header .right-side-header-maximize {
  width: 100%;
}

.header-sticky {
  top: -45px;
}

.header-hidden {
  top: -137px;
}

.logo {
  width: 166px;
  height: 45px;
  border: none;
}

.language-placeholder {
  font-family: "NHaasGroteskDSPro-75Bd";
  letter-spacing: 0.3px;
  font-size: 12px;
  line-height: 16px;
  width: 41px;
  height: 24px;
  margin-top: 11px;
  border: none;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 204px 5% 0 5%;
}

.main-container-scrolled {
  margin-top: 100px;
}

.dashed-list {
  margin-left: 49px;
}

.dashed-list > li {
  display: block;
}

.dashed-list > li::before {
  content: "";
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 15px;
  width: 17px;
  height: 0.1px;
  background-color: #EE7900;
}

/* select2 */
.select2-container--select-slick-required {
  height: 60px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 8px 0px #E2E2E2;
          box-shadow: 0px 5px 8px 0px #E2E2E2;
  margin-right: 1.5rem;
}

.select2-container--select-slick-required .selection {
  width: 100%;
  height: 100%;
}

.select2-container--select-slick-required .selection .select2-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.3rem;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.select2-container--select-slick-required .selection .select2-selection .select2-selection__rendered {
  padding-left: 0;
}

.select2-container--select-slick-required .select2-dropdown {
  border: none;
  outline: none;
}

.select2-container--select-slick-required .select2-dropdown .select2-search {
  display: none;
}

.select2-container--select-slick-required .select2-dropdown .select2-results .select2-results__options {
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: -2rem;
  -webkit-box-shadow: 0px 5px 8px 0px #E2E2E2;
          box-shadow: 0px 5px 8px 0px #E2E2E2;
}

.select2-container--select-slick-required .select2-dropdown .select2-results .select2-results__options .select2-results__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.3rem;
  height: 60px;
}

.select2-container--select-slick-required .select2-dropdown .select2-results .select2-results__options .select2-results__option:hover {
  background-color: rgba(95, 95, 95, 0.3);
}

.select2-container--select-slick-required .select2-selection__placeholder {
  color: #FB3449;
}

.select2-container--select-slick {
  height: 60px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 8px 0px #E2E2E2;
          box-shadow: 0px 5px 8px 0px #E2E2E2;
}

.select2-container--select-slick .selection {
  width: 100%;
  height: 100%;
}

.select2-container--select-slick .selection .select2-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.3rem;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.select2-container--select-slick .selection .select2-selection .select2-selection__rendered {
  padding-left: 0;
}

.select2-container--select-slick .select2-dropdown {
  border: none;
  outline: none;
}

.select2-container--select-slick .select2-dropdown .select2-search {
  display: none;
}

.select2-container--select-slick .select2-dropdown .select2-results .select2-results__options {
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: -2rem;
  -webkit-box-shadow: 0px 5px 8px 0px #E2E2E2;
          box-shadow: 0px 5px 8px 0px #E2E2E2;
}

.select2-container--select-slick .select2-dropdown .select2-results .select2-results__options .select2-results__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.3rem;
  height: 60px;
}

.select2-container--select-slick .select2-dropdown .select2-results .select2-results__options .select2-results__option:hover {
  background-color: rgba(95, 95, 95, 0.3);
}

.select2-selection {
  width: 100%;
  height: 100%;
}

.select2-container--focus {
  border: none;
  outline: none;
}

.select2-container--select-mobile {
  width: 50px;
  height: 24px;
  position: fixed;
  right: 1rem;
  top: 1rem;
  border: none;
  outline: none;
  color: #fff;
}

.select2-container--select-mobile .select2-selection {
  border: none;
  outline: none;
  background-color: #4599B3 transparent;
}

.select2-container--select-mobile .select2-selection .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--select-mobile .select2-selection .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 40%;
  width: 0;
}

.select2-container--select-mobile .select2-selection .select2-selection__rendered {
  padding-left: 0;
}

.select2-container--select-mobile .select2-results {
  position: relative;
  right: 0.38rem;
}

.select2-container--select-mobile .select2-results .select2-results__options {
  background-color: #4599B3;
}

.select2-container--select-mobile .select2-results .select2-results__options .select2-results__option:hover {
  background-color: rgba(95, 95, 95, 0.3);
}

.select2-container--select-mobile .select2-dropdown {
  border: none;
  outline: none;
  background-color: #4599B3;
}

.select2-container--select-mobile .select2-dropdown .select2-search {
  display: none;
}

main {
  font-family: "NeueHaasGrotesk-Light";
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  vertical-align: top;
}

main > form {
  position: relative;
  border-left: 2px solid rgba(95, 95, 95, 0.1);
  padding-left: 34px;
  width: 100%;
  /*
        .select-slick {
            width: 219px;
            height: 60px;
            border: none;
            box-shadow: 0px 5px 8px 0px #E2E2E2;
        }
        */
}

main > form select:active,
main > form select:focus {
  outline: none;
  border: none;
}

main > form > fieldset {
  border: none;
  width: 100%;
  margin: 30px auto;
}

main > form > fieldset > h1 > i {
  color: #4599B3;
  width: 44px;
  padding: 2px;
}

main > form > fieldset > p {
  margin: 22px 0 44px 0px;
  width: 95%;
  text-align: left;
}

main > form > fieldset > legend {
  font-family: "NeueHaasGrotesk-Light";
  letter-spacing: 0.5px;
  font-size: 19px;
  line-height: 26px;
  color: rgba(69, 153, 179, 0.8);
  text-align: left;
}

main > form > fieldset > .select-x-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

main > form > fieldset > .select-x-2 > .select2-container {
  width: 46%;
}

main > form .label-pair {
  width: 100%;
  height: 51px;
  margin: 9% 0;
}

main > form .label-pair label {
  float: left;
  font-family: "NeueHaasGrotesk-Light";
  letter-spacing: 0.5px;
  font-size: 19px;
  line-height: 26px;
  color: rgba(69, 153, 179, 0.8);
  color: #414141;
  position: relative;
  bottom: 0;
  top: 20px;
  -webkit-transition: top 0.5s, font-size 0.5s;
  transition: top 0.5s, font-size 0.5s;
}

main > form .label-pair label:focus {
  bottom: 12px;
  font-size: 12px;
}

main > form .label-pair input {
  width: 100%;
  height: 53%;
  border: none;
  border-bottom: 1px solid rgba(95, 95, 95, 0.3);
}

main > form .label-pair input:focus {
  outline: none;
}

main > form .label-pair .label-active {
  top: 0px;
  font-size: 12px;
}

main > form .label-pair .label-invalid {
  color: #FB3449;
}

main > form .label-pair .input-active {
  color: #414141;
  border-bottom: 2px solid #4599B3;
}

main > form .label-pair .input-invalid {
  color: #FB3449;
  border-bottom: 2px solid #FB3449;
}

main > form .label-pair:focus-within label {
  top: 0;
  font-size: 12px;
}

main > form .big-clause {
  background-color: #EAEAEA;
  color: #000;
  padding: 27px 31px 33px 26px;
  text-align: left;
  margin: 5% 0;
  width: 100%;
}

main > form .small-clause {
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

main > form .checkbox-section {
  position: relative;
  text-align: left;
  margin-top: 15px;
}

main > form .checkbox-section .cb-label {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
}

main > form .checkbox-section .cb-label > p {
  margin-left: 58px;
}

main > form .checkbox-section .cb-label > input[type="checkbox"] {
  display: inline-block;
  position: absolute;
  width: 44px;
  height: 44px;
  cursor: pointer;
  color: #fff;
  border: 2px solid #4599B3;
  background-color: #fff;
}

main > form .checkbox-section .cb-label > input[type="checkbox"]::-ms-check {
  border: 2px solid #4599B3;
}

main > form .checkbox-section .cb-label > input[type="checkbox"]:checked::-ms-check {
  display: inline-block;
  position: absolute;
  width: 44px;
  height: 44px;
  cursor: pointer;
  color: #fff;
  background-color: #4599B3;
}

main > form .checkbox-section .cb-label > input[type="checkbox"]::-ms-check:hover {
  background-color: #4599B3;
}

main > form .checkbox-section .cb-label > input[type="checkbox"]:focus {
  outline-color: #000;
}

main > form .checkbox-section .cb-label > input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 44px;
  height: 44px;
  border: 2px solid #4599B3;
  background-color: #fff;
}

main > form .checkbox-section .cb-label > input[type="checkbox"]:checked::before,
main > form .checkbox-section .cb-label > input[type="checkbox"]:hover:before {
  background-color: #4599B3;
}

main > form .checkbox-section .cb-label > input[type="checkbox"]:checked::after {
  position: absolute;
  top: 15px;
  left: 15px;
  display: inline-block;
  content: "";
  width: 18px;
  height: 11px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main > form .checkbox-section > p {
  display: inline-block;
  margin-left: 55px;
}

main > form .checkbox-section > .dashed-list {
  width: 45%;
  margin-left: 55px;
}

main > form .button {
  width: 194px;
  height: 60px;
  text-align: center;
  background-color: #D0D0D0;
  border: none;
  color: #fff;
  position: relative;
  top: 87px;
  left: 150px;
  margin-top: 50px;
}

main > form .button-active {
  background-color: #4599B3;
}

main > form .button-active:hover {
  cursor: pointer;
}

main footer {
  margin-top: 87px;
  text-align: left;
}

aside {
  display: inline-block;
  vertical-align: top;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-left: 34px;
}

aside h1,
aside h2 {
  color: #4599B3;
}

aside h2 {
  height: 13px;
}

aside h2 > i {
  width: 24px;
  font-size: 24px;
}

aside .feature {
  float: left;
  padding: 0 100px 44px 0;
}

aside .feature > h2 {
  font-family: "NHaasGroteskDSPro-75Bd";
  letter-spacing: 0.3px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(69, 153, 179, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
}

aside .feature i {
  color: #4599B3;
  width: 50px;
}

aside .feature img {
  width: 24px;
  height: 134px;
  float: left;
}

aside .feature > p {
  font-family: "NeueHaasGrotesk-Light";
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  text-align: left;
  padding: 5px 10px 0 49px;
}

aside .feature .dashed-info {
  display: block;
}

aside .feature .dash {
  display: inline-block;
  margin-bottom: 2%;
  margin-right: 6%;
  width: 17px;
  height: 0.1px;
  background-color: #EE7900;
}

footer {
  text-align: center;
  width: 100%;
}

.body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #000;
  position: relative;
}

.body-footer a {
  width: 44px;
  text-align: left;
  color: #000;
  border-color: #000;
}

.body-footer .upper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #E5F1F7;
}

.body-footer .upper-footer .login-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  padding-right: 20px;
}

.body-footer .upper-footer .login-footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-footer .upper-footer .login-footer p .login-link {
  border-bottom: 2px solid #000;
}

.body-footer .upper-footer .login-footer .icon, .body-footer .upper-footer .login-footer .icon:visited {
  width: 25px;
  height: 20px;
  margin-right: 5px;
  border: none;
  color: #4599B3;
}

.body-footer .upper-footer .login-footer .icon:hover {
  cursor: pointer;
}

.body-footer .upper-footer .login-footer .title-link {
  font-size: 19px;
  width: 100%;
  border: none;
}

.body-footer .upper-footer .right-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 24px;
}

.body-footer .upper-footer .right-footer .link-bold-bottom {
  font-family: "NHaasGroteskDSPro-75Bd";
  letter-spacing: 0.3px;
  font-size: 12px;
  line-height: 16px;
  min-width: 84px;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  height: 100%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #000;
  cursor: pointer;
}

.body-footer .lower-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 44px 10%;
  width: 100%;
  text-align: left;
}

.body-footer .lower-footer .left-footer a {
  font-family: "NHaasGroteskDSPro-75Bd";
  letter-spacing: 0.3px;
  font-size: 12px;
  line-height: 16px;
  font-size: 16px;
}

.body-footer .lower-footer .contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body-footer .lower-footer .contact-footer .contact-methods {
  height: 100%;
  width: 40%;
}

.body-footer .lower-footer .contact-footer .contact-address {
  height: 100%;
}

.body-footer .lower-footer .contact-footer .contact {
  margin-bottom: 16px;
}

.body-footer .lower-footer .contact-footer .contact h3 {
  margin-bottom: 5px;
}

.body-footer .lower-footer .contact-footer p {
  max-width: 150px;
}

.body-footer .lower-footer .big-title {
  font-family: "NHaasGroteskDSPro-75Bd";
  letter-spacing: 0.3px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.logos {
  position: absolute;
  bottom: 0;
  right: 25px;
  width: 206px;
  height: 44px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 550px) {
  .sub-nav-links > li {
    font-size: 31px;
  }
  aside {
    padding: 0;
    padding-left: 0;
  }
  .body-footer .lower-footer .contact-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (max-width: 1024px) {
  .hamburger-menu {
    position: fixed;
    z-index: 11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 24px;
    height: 24px;
    top: 1.2rem;
    left: 30px;
  }
  .hamburger-menu .hamburger-line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #4599B3;
    -webkit-transition: background-color 300ms, -webkit-transform 300ms;
    transition: background-color 300ms, -webkit-transform 300ms;
    transition: transform 300ms, background-color 300ms;
    transition: transform 300ms, background-color 300ms, -webkit-transform 300ms;
  }
  .hamburger-menu .middle-line {
    position: relative;
    opacity: 1;
    left: 0;
    right: 0;
    -webkit-transition: opacity 100ms, left 100ms, right 100ms;
    transition: opacity 100ms, left 100ms, right 100ms;
  }
  .hamburger-menu .fading {
    opacity: 0;
    left: -24px;
  }
  .hamburger-menu .rotate-this-way {
    top: 8px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    background-color: #fff;
  }
  .hamburger-menu .rotate-that-way {
    bottom: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #fff;
  }
  .hamburger-menu:hover {
    cursor: pointer;
  }
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    height: 66px;
    width: 100%;
    padding-left: 41px;
    padding-right: 41px;
    background-color: #fff;
  }
  .mobile img {
    position: relative;
    left: 20px;
    height: 50%;
  }
  .mobile-menu {
    position: absolute;
    z-index: 10;
    left: -100%;
    width: 100%;
    height: 100%;
    min-width: 0;
    background-color: #4599B3;
    -webkit-transition: left 250ms ease-in-out;
    transition: left 250ms ease-in-out;
  }
  .mobile-menu .mobile-menu-container {
    position: relative;
    overflow: auto;
    height: 90%;
    padding: 2% 0;
  }
  .mobile-menu ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }
  .mobile-menu .mobile-language-placeholder {
    position: absolute;
    top: 1.2rem;
    right: 5%;
    width: 50px;
    height: 24px;
    outline: none;
  }
  .mobile-menu .mobile-language-placeholder > option:active {
    outline: none;
  }
  .mobile-menu nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 9.6875rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .mobile-menu nav > .ul-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    overflow: auto;
    min-height: 71px;
    color: rgba(255, 255, 255, 0.5);
  }
  .mobile-menu nav > .ul-parent > li {
    margin-right: 44px;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid #4599B3;
  }
  .mobile-menu nav > .ul-parent > li:hover {
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #fff;
  }
  .mobile-menu nav .sub-nav-links {
    position: absolute;
    top: 14rem;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 42px;
    line-height: 55px;
  }
  .mobile-menu nav .sub-nav-links > li > a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: font-size 400ms;
    transition: font-size 400ms;
  }
  .mobile-menu nav .sub-nav-links a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .mobile-menu .auth {
    height: 51px;
    width: 100%;
    min-width: 218px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    z-index: 1;
    margin-bottom: 4%;
    background-color: #4599B3;
    padding: 8px 34px;
    border: none;
  }
  .mobile-menu .auth .actions {
    position: relative;
    width: 113px;
    height: 50%;
  }
  .mobile-menu .auth .user-info {
    margin-left: 3%;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
  }
  .mobile-menu .auth .user-info:hover {
    cursor: pointer;
  }
  .mobile-menu .auth a {
    text-decoration: none;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.6);
  }
  .mobile-menu .auth a:hover {
    cursor: pointer;
    font-weight: 400;
    color: #fff;
  }
  .mobile-menu .auth .nav-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    margin-top: 15px;
    min-width: 44px;
    height: 44px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    bottom: 0;
  }
  .mobile-menu .auth .nav-button > i {
    font-weight: 100;
  }
  .mobile-menu .auth .nav-button:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    margin-top: 15px;
    min-width: 44px;
    height: 44px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    color: #4599B3;
    border-radius: 50%;
  }
  .mobile-menu .auth .nav-button:hover > i {
    background-color: #fff;
    color: #4599B3;
    border-radius: 50%;
  }
  .mobile-menu .auth .icon-search {
    left: 0;
  }
  .mobile-menu .auth .icon-shopping-cart {
    right: 0;
  }
  .menu-show {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .main-container {
    padding: 102px 5% 0 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main {
    width: 100%;
    min-width: 0;
    padding: 0 10px;
  }
  main > form .button {
    left: 0;
    top: 60px;
    margin-top: 0;
    width: 100%;
  }
  main > form .label-pair {
    margin: 5% auto;
  }
  main > form > fieldset p {
    margin: 22px auto;
  }
  main > form > fieldset > .select-x-2 {
    height: 180px;
  }
  main > form > fieldset > .select-x-2 > .select2-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main > form > fieldset > .select-x-2 > .select2-container--select-slick-required {
    margin-right: 0;
  }
  main > form > fieldset > .select-x-2 + p {
    margin-top: 0;
  }
  #register-form {
    border-left: none;
    padding-left: 0;
    width: 100%;
  }
  aside {
    padding: 0 34px;
  }
  .aside-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin-top: 5%;
  }
  .aside-main > h1 {
    padding-right: 2rem;
  }
  .aside-main > .feature {
    padding-right: 0;
  }
  .body-footer .upper-footer .right-footer {
    width: 30%;
  }
}

/* not used atm
.select2-active {
    box-shadow: none;
}
*/
/*

a {
    color: $color-blue-tint;
    text-decoration: none;
    border-bottom: 2px solid $color-blue-tint;
}

*/
/* not used atm
.select2-active {
    box-shadow: none;
}
*/
a {
  color: #4599B3;
  text-decoration: none;
  border-bottom: 2px solid #4599B3;
}
/*# sourceMappingURL=initial.css.map */